langchain==1.2.15
langchain-core==1.2.26
langchain-openai==1.1.12
langgraph==1.1.6
langgraph-checkpoint==4.0.1
langgraph-prebuilt==1.0.9
openai==2.30.0
pydantic==2.12.5
python-dotenv==1.2.2
tiktoken==0.12.0
typing_extensions==4.15.0
